body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    grid-row: 40px 1fr;
    margin: 0px;
    padding: 0px;
    align-items: center;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: rgb(118, 69, 59);
    justify-content: center;
}


h1 {
    padding-top: 25px;
    font-size: 40px;
}


div.quote {
    display: grid;
    width: 700px;
    height: 550px;
    margin: 0px;
    border-radius: 45px;
    border: 5px solid rgb(118, 69, 59);
    background-color: white;
    box-shadow: 1px 1px 7px rgb(48, 48, 49);
    justify-content: center;
    align-items: center;
    margin: auto;
}

button.submit, div.quote h5, div.quote h6, h2{
    width: 80%;
    margin: 0px auto;
    border-radius: 12px;
    background-color: white;
    color: rgb(87, 55, 49);
    font-size: 33px;
}

div.quote h5, div.quote h6 {
    text-shadow: 0.5px 0.5px 0.5px rgb(118, 69, 59);
}

div.quote h6 {
    font-size: 30px;
    text-align: right;
}

div.quote h5 {
    padding: 13px;
    height: 260px; 
    width: 580px;
    border: 3px solid rgb(118, 69, 59);
    border-radius: 45px;
    box-shadow: 2px 2px 2px rgba(118, 69, 59, 230) -2px -2px -2px rgba(118, 69, 59, 230)
    
}

div.quote h6 {
    margin-left: auto;
}


button.submit {
    height: 73px;
    width: 544px;
    margin-top: 0px;
    border-radius: 20px;
    background-color: rgb(118, 69, 59);
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: white;
    letter-spacing: 1px;
}

button.submit:hover {
    background-color: rgb(100, 58, 50);
    cursor: pointer;
    box-shadow: 0.5px 0.5px 3px rgb(48, 48, 49);
}

button.addToClipboard {
    font-size: 25px;
    width: 544px;
    height: 58px;
    border: 3px solid rgb(118, 69, 59);
    border-radius: 20px;
    justify-self: center;
}

button.addToClipboard:hover {
    background-color: rgb(235, 235, 235);
    cursor: pointer;
    box-shadow: 0.5px 0.5px 3px rgb(48, 48, 49);
}